{{ define "main" }}

{{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}

<div class="container">
  <div class="post">
    <div class="post-header row">
      <div class="title-tile col-md-6">
        <h1 class="maintitle">
          {{ .Title }}
        </h1>
        <h2 class="subtitle lightText">
          {{ .Description }}
        </h2>

        <div class="clearfix lightText">
          <i class="icon ion-md-calendar"></i> {{ dateFormat $dateFormat .Date }}
        </div>
      </div>
      <div class="figure col-md-6">
        <img class="img-fluid"
          src="{{ absURL (default "images/default-img-header.jpeg" (default .Params.image .Params.thumbnail)) }}"
          alt="figure" />
      </div>
    </div>

    <div class="post-content">

      {{ .Content }}

    </div>
  </div>
</div>

{{ end }}